<section class="py-5">
  <div class="container">
    <p class="subtitle text-primary add-new mb-5">Add new listing</p>
    <form
      [formGroup]="addRoomForm"
      *ngIf="addRoomForm"
      (ngSubmit)="formSubmit()"
    >
      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Basic</h4>
          <p class="text-muted text-sm">
            His room, a proper human room although a little too small, lay
            peacefully between its four familiar walls. A collection of textile
            samples lay spread out on the table.
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="form-group">
            <label class="form-label" for="form_name">Property name</label>
            <input
              formControlName="propertyName"
              class="form-control"
              name="name"
              id="form_name"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="form_type">Home type</label>

            <select
              class="selectpicker form-control"
              name="type"
              id="form_type"
              data-style="btn-selectpicker"
              title=""
              aria-describedby="propertyTypeHelp"
            >
              <option
                *ngFor="let homeType of homeTypes; let index = index"
                formControlName="homeType"
              >
                {{ homeType }}
              </option>
            </select>

            <small class="form-text text-muted" id="propertyTypeHelp"
              >One morning, when Gregor Samsa woke from troubled dreams, he
              found himself transformed in his bed into a horrible vermin. He
              lay on his armour-like back, and if he lifted his head a little he
              could see his brown belly, slightly domed and divided by arches
              into stiff sections</small
            >
          </div>
        </div>
      </div>
      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Location</h4>
          <p class="text-muted text-sm">
            Samsa was a travelling salesman - and above it there hung a picture
            that he had recently cut out of an illustrated magazine and housed
            in a nice, gilded frame.
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label" for="form_city">City</label>
                <select name="city" id="form_city" class="form-control">
                  <option
                    formControlName="city"
                    [value]="city.name"
                    *ngFor="let city of cities"
                  >
                    {{ city.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Description</h4>
          <p class="text-muted text-sm">
            Samsa was a travelling salesman - and above it there hung a picture
            that he had recently cut out of an illustrated magazine and housed
            in a nice, gilded frame.
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="form-group mb-5">
            <label class="form-label" for="form_description"
              >Describe your place to guests</label
            >
            <textarea
              class="form-control"
              name="name"
              id="form_description"
              rows="5"
              aria-describedby="descriptionHelp"
              formControlName="description"
            ></textarea
            ><small class="form-text text-muted mt-2" id="descriptionHelp"
              >The bedding was hardly able to cover it and seemed ready to slide
              off any moment. His many legs, pitifully thin compared with the
              size of the rest of him, waved about helplessly as he looked.
              "What's happened to me?" he thought. It wasn't a dream.
            </small>
          </div>
          <div class="form-group mb-5">
            <label class="form-label" for="form_availability"
              >Your availability</label
            >
            <textarea
              class="form-control"
              name="name"
              id="form_availability"
              rows="3"
              aria-describedby="availabilityHelp"
              formControlName="availability"
            ></textarea
            ><small class="form-text text-muted mt-2" id="availabilityHelp"
              >His room, a proper human room although a little too small, lay
              peacefully between its four familiar walls. A collection of
              textile samples lay spread out on the table.
            </small>
          </div>
          <div class="form-group mb-5">
            <label class="form-label" for="form_neighbourhood"
              >Your neighbourhood</label
            >
            <textarea
              class="form-control"
              name="name"
              id="form_neighbourhood"
              rows="3"
              aria-describedby="hoodHelp"
              formControlName="neighbourhood"
            ></textarea
            ><small class="form-text text-muted mt-2" id="hoodHelp"
              >Samsa was a travelling salesman - and above it there hung a
              picture that he had recently cut out of an illustrated magazine
              and housed in a nice, gilded frame.
            </small>
          </div>
        </div>
      </div>

      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Rooms and beds</h4>
          <p class="text-muted text-sm">
            The number and types of beds you have determines how many guests can
            stay comfortably
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="row">
            <div class="col-lg-4">
              <label class="form-label">Beds</label>
              <div class="d-flex align-items-center">
                <div
                  class="btn btn-items btn-items-decrease"
                  (click)="decrease(bedsInput)"
                >
                  -
                </div>
                <input
                  class="form-control input-items"
                  type="text"
                  value="1"
                  min="1"
                  #bedsInput
                  formControlName="beds"
                />
                <div
                  class="btn btn-items btn-items-increase"
                  (click)="increase(bedsInput)"
                >
                  +
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Bedrooms</label>
              <div class="d-flex align-items-center">
                <div
                  class="btn btn-items btn-items-decrease"
                  (click)="decrease(bedroomsInput)"
                >
                  -
                </div>
                <input
                  class="form-control input-items"
                  type="text"
                  value="1"
                  min="1"
                  #bedroomsInput
                  formControlName="bedrooms"
                />
                <div
                  class="btn btn-items btn-items-increase"
                  (click)="increase(bedroomsInput)"
                >
                  +
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Bathrooms</label>
              <div class="d-flex align-items-center">
                <div
                  class="btn btn-items btn-items-decrease"
                  (click)="decrease(bathsInput)"
                >
                  -
                </div>
                <input
                  class="form-control input-items"
                  type="text"
                  value="1"
                  min="1"
                  #bathsInput
                  formControlName="bathrooms"
                />
                <div
                  class="btn btn-items btn-items-increase"
                  (click)="increase(bathsInput)"
                >
                  +
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Amenities</h4>
          <p class="text-muted text-sm">
            His room, a proper human room although a little too small, lay
            peacefully between its four familiar walls. A collection of textile
            samples lay spread out on the table.
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="form-group">
            <label class="form-label">Available Amenities</label>
            <ul class="list-inline mb-0">
              <li
                class="list-inline-item"
                *ngFor="let amenity of amenities; let index = index"
              >
                <div class="custom-control custom-checkbox">
                  <input
                    class="custom-control-input"
                    type="checkbox"
                    id="{{ index }}"
                    name="amenities[]"
                  />
                  <label
                    class="custom-control-label text-muted"
                    for="{{ index }}"
                    >{{ amenity }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row form-block mb-5">
        <div class="col-lg-4">
          <h4>Photos</h4>
          <p class="text-muted text-sm">
            His room, a proper human room although a little too small, lay
            peacefully between its four familiar walls. A collection of textile
            samples lay spread out on the table.
          </p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="form-group">
            <div class="dz-message text-muted">
              <p>Click to upload.</p>
              <input
                type="file"
                (change)="onImagePicked($event)"
                name="images-upload"
                id="images-upload1"
              />
              <input type="file" name="images-upload" id="images-upload2" />
              <input type="file" name="images-upload" id="images-upload3" />
              <input type="file" name="images-upload" id="images-upload4" />
              <input type="file" name="images-upload" id="images-upload5" />
              <input type="file" name="images-upload" id="images-upload6" />
            </div>
          </div>
          <div class="d-none" id="dropzoneTemplate">
            <div class="dz-preview dz-file-preview">
              <div class="dz-image">
                <img
                  data-dz-thumbnail=""
                  alt=""
                  src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/logo-square.svg"
                />
              </div>
              <div class="dz-details">
                <div class="dz-filename"><span data-dz-name=""></span></div>
                <div class="dz-size" data-dz-size=""></div>
              </div>
              <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress=""></span>
              </div>
              <div class="dz-success-mark">
                <span class="dz-icon"><i class="fa-check fa"></i></span>
              </div>
              <div class="dz-error-mark">
                <span class="dz-icon"><i class="fa-times fa"></i></span>
              </div>
              <div class="dz-error-message">
                <span data-dz-errormessage=""></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-block flex-column flex-sm-row final-form-block">
        <div class="col text-center text-sm-left">
          <a
            class="btn btn-link text-muted"
            routerLink="/user/add-room-first-step"
          >
            <i class="fa-chevron-left fa mr-2"></i>Back</a
          >
        </div>
        <div class="col text-center text-sm-right">
          <button type="submit" class="btn btn-primary px-3 finish-btn">
            <a routerLink="/user/add-room-final-step">
              Finish<i class="fa-chevron-right fa ml-2"></i
            ></a>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
