<div
  class="bg-cover dark-overlay text-white location-cover"
  *ngIf="location?.image"
  [ngStyle]="{ backgroundImage: 'url(' + location?.image + ')' }"
>
  <div class="row">
    <div class="col-lg-6 location-info">
      <h2 class="display-3 font-weight-bold mb-3" style="line-height: 1">
        {{ location?.name }}
      </h2>
      <p class="mb-5">
        {{ location?.description }}
      </p>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<section class="py-6 three-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 px-5">
        <p class="advantage-number">1</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Travel</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            Make this vacation a beautiful memory to think of when life gives
            you a ton of headaches to worry for. I wish you will have a great
            time with your family during this vacation. Take care and stay safe!
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-5">
        <p class="advantage-number">2</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Relax</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            The more you travel the more you learn about new places, new
            cultures, and new people. This is your time to explore the unknown
            and see the unseen. Make the best out of it.
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-5">
        <p class="advantage-number">3</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Explore</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            Summer won’t last long. Enjoy as much as you can. Visit all the
            places and explore new experiences. Enjoy the warmth of summer.
            Wishing you happy summer vacation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4"
    >
      <div class="mr-3">
        <p class="mb-3 mb-md-0">
          <strong>{{ rooms?.length }}</strong> results found
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-6 col-lg-4 mb-5 hover-animate"
        *ngFor="let room of rooms"
      >
        <app-room-card
          [room]="room"
          (navigateClick)="redirectToRoom($event)"
        ></app-room-card>
      </div>
    </div>
  </div>
</section>
