<div
  class="bg-cover dark-overlay text-white location-cover"
  [ngStyle]="{ backgroundImage: 'url(' + locationImage + ')' }"
>
  <div class="row">
    <div class="col-lg-6 location-info">
      <h2 class="display-3 font-weight-bold mb-3" style="line-height: 1">
        {{ location?.name }}
      </h2>
      <p class="mb-5">
        {{ location?.description }}
      </p>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<section class="py-6 three-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 px-5">
        <p class="advantage-number">1</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Travel</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            One morning, when Gregor Samsa woke from troubled dreams, he found
            himself transformed in his bed into a horrible vermin. He lay on
            his.
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-5">
        <p class="advantage-number">2</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Relax</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            The bedding was hardly able to cover it and seemed ready to slide
            off any moment. His many legs, pitifully thin compared with the size
            .
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-5">
        <p class="advantage-number">3</p>
        <div class="pl-lg-5">
          <h6 class="text-uppercase">Explore</h6>
          <p class="text-muted text-sm mb-5 mb-lg-0">
            His room, a proper human room although a little too small, lay
            peacefully between its four familiar walls. A collection of textile
            samp.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4"
    >
      <div class="mr-3">
        <p class="mb-3 mb-md-0">
          <strong>{{ rooms?.length }}</strong> results found
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-6 col-lg-4 mb-5 hover-animate"
        *ngFor="let room of rooms"
      >
        <app-room-card
          [room]="room"
          (navigateClick)="redirectToRoom($event)"
        ></app-room-card>
      </div>
    </div>

    <!-- <div class="d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-primary load-more-btn">
        Load more
      </button>
    </div> -->
  </div>
</section>
