.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
  line-height: 3rem;
  border: solid 2px #fff;
  object-fit: cover;
}

h2 {
  font-weight: 900;
}

.badge-secondary-light {
  color: #e83e8c;
  background-color: #fce8f1;
}

h6 {
  text-transform: uppercase;
  font-size: small;
}

.text-primary {
  color: #4e66f8 !important;
}

span {
  font-size: small;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.cancel-booking {
  color: rgb(216, 6, 6);
  font-size: 14px;
  cursor: pointer;
}

.cancel-booking:hover {
  opacity: 0.7;
}
