<div class="card border-0 shadow">
  <div class="card-body p-4">
    <div class="text-block pb-3">
      <div class="media align-items-center">
        <div class="media-body">
          <h6>
            <a class="text-reset modern-apt">{{ room?.name }}</a>
          </h6>
          <p class="text-muted text-sm mb-0">
            {{ room?.type | titlecase }} in {{ room?.address }}
          </p>
          <div class="mt-n1">
            <i class="fa fa-xs fa-star text-primary"></i
            ><i class="fa fa-xs fa-star text-primary"></i
            ><i class="fa fa-xs fa-star text-primary"></i
            ><i class="fa fa-xs fa-star text-primary"></i
            ><i class="fa fa-xs fa-star text-gray-200"></i>
          </div>
        </div>
        <a href="detail-rooms.html"
          ><img
            class="ml-3 rounded room-image"
            [src]="room?.image"
            alt=""
            width="100"
        /></a>
      </div>
    </div>
    <div class="text-block py-3">
      <ul class="list-unstyled mb-0">
        <li class="mb-3">
          <i class="fas fa-users fa-fw text-muted mr-2"></i>3 guests
        </li>
        <li class="mb-0">
          <i class="far fa-calendar fa-fw text-muted mr-2"></i
          >{{ startDate | date }}
          <i class="fas fa-arrow-right fa-fw text-muted mx-3"></i
          >{{ endDate | date }}
        </li>
      </ul>
    </div>
    <div class="text-block pt-3 pb-0">
      <table class="w-100">
        <tbody>
          <tr>
            <th class="font-weight-normal py-2">
              {{ room?.price }} x {{ numberOfDays }} nights
            </th>
            <td class="text-right py-2">${{ totalPrice }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="border-top">
            <th class="pt-3">Total</th>
            <td class="font-weight-bold text-right pt-3">${{ totalPrice }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer bg-primary-light py-4 border-0">
    <div class="media align-items-center">
      <div class="media-body">
        <h6 class="text-primary free-cancellation">
          Flexible – free cancellation
        </h6>
        <p class="text-sm text-primary opacity-8 mb-0 cancel">
          Cancel within 48 hours to get a full refund.
        </p>
      </div>
    </div>
  </div>
</div>
