<div class="container step-one-section">
  <div class="row">
    <div class="col-lg-7">
      <p class="subtitle text-primary book-your-holiday-title">
        Book your holiday home
      </p>
      <h1 class="h2 mb-5 house-rules-title">
        Review house rules
        <span class="text-muted float-right step-one-title">Step 1</span>
      </h1>

      <div class="text-block time-period">
        <h5 class="mb-4 night-in-city">
          {{ numberOfDays }} nights in {{ room?.address }}
        </h5>
        <div class="row mb-3">
          <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
            <div class="date-tile mr-3">
              <div class="text-uppercase">
                <span class="text-sm">{{
                  bookingDetails.startDate | moment: "MMM"
                }}</span
                ><br /><strong class="text-lg">{{
                  bookingDetails.startDate | moment: "D"
                }}</strong>
              </div>
            </div>
            <p class="text-sm mb-0">
              {{ bookingDetails.startDate | moment: "dddd" }} check-in
            </p>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="date-tile mr-3">
              <div class="text-uppercase">
                <span class="text-sm">{{
                  bookingDetails.endDate | moment: "MMM"
                }}</span
                ><br /><strong class="text-lg">{{
                  bookingDetails.endDate | moment: "D"
                }}</strong>
              </div>
            </div>
            <p class="text-sm mb-0">
              {{ bookingDetails.endDate | moment: "dddd" }} check-out
            </p>
          </div>
        </div>
      </div>
      <div class="text-block keep-in-mind-section">
        <h5 class="mb-4 things-to-keep-in-mind">Things to keep in mind</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="media align-items-center mb-3">
              <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4">
                <i
                  class="fa fas fa-child text-secondary fa-fw text-center rule-icon"
                ></i>
              </div>
              <div class="media-body">
                <span class="text-sm"
                  >Not suitable for children and infants - The entrance
                  staircase doesn't have handrails</span
                >
              </div>
            </div>
          </li>
          <li class="mb-2">
            <div class="media align-items-center mb-3">
              <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4">
                <i
                  class="fa fas fa-glass-cheers text-secondary fa-fw text-center rule-icon"
                ></i>
              </div>
              <div class="media-body">
                <span class="text-sm">No parties or events</span>
              </div>
            </div>
          </li>
          <li class="mb-2">
            <div class="media align-items-center mb-3">
              <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4">
                <i
                  class="fa fa-smoking-ban text-secondary fa-fw text-center rule-icon"
                ></i>
              </div>
              <div class="media-body">
                <span class="text-sm">No smoking</span>
              </div>
            </div>
          </li>
          <li class="mb-2">
            <div class="media align-items-center mb-3">
              <div class="icon-rounded icon-rounded-sm bg-secondary-light mr-4">
                <i
                  class="fa fa-cat text-secondary fa-fw text-center rule-icon"
                ></i>
              </div>
              <div class="media-body"><span class="text-sm">No pets</span></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row form-block flex-column flex-sm-row">
        <div class="col text-center text-sm-left"></div>
        <div class="col text-center text-sm-right">
          <a class="btn btn-primary px-3 mt-5" (click)="finishBooking()">
            Book<i class="fa-chevron-right fa ml-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 pl-xl-5">
      <app-booking-card></app-booking-card>
    </div>
  </div>
</div>
