<section>
  <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active carousel-pictures">
        <img [src]="firstPhoto" class="w-100 carousel-photo" alt="..." />
      </div>
      <div class="carousel-item carousel-pictures" *ngFor="let photo of photos">
        <img [src]="photo" class="w-100 carousel-photo" alt="..." />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
</section>
<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="text-block">
        <p class="text-primary room-address">
          <i class="fa-map-marker-alt fa mr-1"></i> {{ room?.address }}
        </p>
        <h1>{{ room?.name }}</h1>
        <div class="mb-5">
          <span class="mr-2 text-muted"
            >{{ room?.rating | number: "1.2-2" }} / 5</span
          >
          <app-stars [rating]="room?.rating"></app-stars>
          <span class="ml-2 reviews-number"
            >{{ room?.reviews?.length }} review(s)</span
          >
        </div>
        <p class="text-muted font-weight-light">
          {{ room?.intro }}
        </p>
        <h6 class="mb-3 font-weight-bolder mt-5">The space</h6>
        <p class="text-muted font-weight-light">
          {{ room?.description }}
        </p>
        <p class="text-muted font-weight-light">Also in the apartment:</p>
        <ul class="text-muted font-weight-light">
          <li>TV with Netflix and DirectTVNow</li>
          <li>Free WiFi</li>
          <li>Gourmet Coffee/Tea making supplies</li>
          <li>Fresh Sheets and Towels</li>
          <li>
            Toaster, microwave, pots and pans and basic cooking needs like salt,
            pepper, sugar, and olive oil.
          </li>
          <li>Air Conditioning to keep you cool all summer!</li>
        </ul>
        <p class="text-muted font-weight-light">
          The apartment is surprisingly quiet for being in the heart of a
          vibrant, bustling neighborhood.
        </p>
        <h6 class="mb-3 font-weight-bolder mt-5">Interaction with guests</h6>
        <p class="text-muted font-weight-light">
          {{ room?.interactionWithGuests }}
        </p>
      </div>
      <div class="text-block mt-5">
        <h4 class="mb-4">Amenities</h4>
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4">
            <ul class="list-unstyled text-muted">
              <li
                class="mb-2 d-flex justify-content-start align-items-center"
                *ngFor="let amenity of room?.amenities"
              >
                <i
                  class="fa fa-{{
                    amenity?.icon
                  }} text-secondary w-1rem mr-3 text-center icon"
                ></i
                ><span class="text-sm">{{ amenity?.name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <app-room-reviews
        [reviews]="room?.reviews"
        (reviewAddEvent)="onReviewAdd($event)"
      ></app-room-reviews>
    </div>
    <div class="col-lg-4">
      <app-room-booking [room]="room"></app-room-booking>
    </div>
  </div>
</div>
