.carousel-pictures {
  height: 650px;
  position: relative;
}

.avatar {
  width: 200px;
  height: 200px;
}

.room-address {
  color: #4e66f8 !important;
}

.icon {
  color: #e83e8c !important;
}

.reviews-number {
  color: #4e66f8;
}

.carousel-photo {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  position: absolute;
  bottom: -100px;
}
