<div class="container step-two-section">
  <div class="row">
    <div class="col-lg-7">
      <p class="subtitle text-primary">Book your holiday home</p>
      <h1 class="h2 mb-5 booking-placed">
        Booking placed <span class="text-muted float-right step-2">Step 2</span>
      </h1>
      <div class="text-block">
        <p class="text-muted">
          Thank you for your booking, {{ currentUser?.name }}.
        </p>
        <p class="text-muted mb-5">
          Samsa was a travelling salesman - and above it there hung a picture
          that he had recently cut out of an illustrated magazine and housed in
          a nice, gilded frame.
        </p>
        <p class="text-left mb-5">
          <a class="btn btn-primary mx-2 mb-2" routerLink="/user/bookings">
            <i class="far fa-file mr-2"></i>Go to bookings</a
          >
        </p>
        <p class="mb-5 text-center">
          <img
            class="img-fluid"
            src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/illustration/undraw_celebration_0jvk.svg"
            alt=""
            style="width: 400px"
          />
        </p>
      </div>
    </div>
    <div class="col-lg-5 pl-xl-5">
      <app-booking-card></app-booking-card>
    </div>
  </div>
</div>
