.host-name {
  color: #424767;
}

.host-button {
  background-color: #c33c54;
  border-color: #c33c54;
}

.host-button:hover {
  color: #fff;
  background-color: #a63347;
  border-color: #9c3043;
}

.host-img {
  height: 48px;
  width: 48px;
}

.room-price {
  color: #4e66f8 !important;
  font-weight: 900;
}

.book-your-stay-btn {
  background-color: #4e66f8 !important;
  border: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.book-your-stay-btn:hover {
  background-color: #1a38fa !important;
  transition: 0.3s ease-in-out all;
}

.form-label {
  width: 100%;
}

.edit-room {
  color: #4e66f8;
  &:hover {
  
    cursor: pointer;
  }
}

.edit-room-text {
  &:hover {
    cursor: pointer;
  }
}
