<div class="p-4 shadow ml-lg-4 rounded sticky-top" style="top: 100px">
  <p class="text-muted">
    <span class="text-primary h2 room-price">${{ room?.price }}</span> per night
  </p>
  <hr class="my-4" />
  <div
    *ngIf="currentUser?._id === room?.hostId"
    class="py-2"
    (click)="redirectToEditRoom()"
  >
    <i class="fas fa-edit edit-room"></i>
    <span class="ml-1 edit-room-text">Edit your room</span>
  </div>

  <div
    class="form check-in-form"
    id="booking-form"
    *ngIf="currentUser?._id !== room?.hostId"
  >
    <div class="form-group">
      <div class="datepicker-container datepicker-container-right">
        <label class="form-label" for="bookingDate">Check in *</label>
        <kendo-datepicker
          id="bookingDate"
          class="date-picker"
          [(value)]="startDate"
          [disabledDates]="disabledDates"
        ></kendo-datepicker>

        <label class="form-label mt-3" for="bookingEndDate">Check out *</label>

        <kendo-datepicker
          id="bookingEndDate"
          class="date-picker"
          [(value)]="endDate"
          [disabledDates]="disabledDates"
        ></kendo-datepicker>
      </div>
    </div>
    <div class="form-group mb-4">
      <label class="form-label" for="guests">Guests *</label>
      <form [formGroup]="guestForm">
        <select
          class="form-control"
          formControlName="guests"
          name="guests"
          id="guests"
        >
          <option *ngFor="let guest of guests" [ngValue]="guest">
            {{ guest }}
          </option>
        </select>
      </form>
    </div>
    <div class="form-group">
      <button
        *ngIf="currentUser"
        class="btn btn-primary btn-block book-your-stay-btn"
        type="submit"
        (click)="redirectToBooking()"
        [disabled]="guestForm.get('guests')?.value === ''"
      >
        Book your stay
      </button>
    </div>
  </div>

  <hr class="my-4" />
  <div class="text-center">
    <div class="card border-light mt-4 py-2">
      <h5 class="font-weight-normal text-left">Property Owner</h5>
      <div class="media d-flex align-items-center my-3">
        <a class="avatar-lg mr-2" title=""
          ><img
            class="img-fluid rounded-circle host-img"
            alt="avatar"
            [src]="room?.hostPicture"
        /></a>
        <div class="avatar-name">
          <span class="host-name">{{ room?.hostName }}</span>
          <span *ngIf="currentUser?._id === room?.hostId" class="ml-1"
            >(You)</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
