body {
  height: 100vh;
}

.best-holiday-search {
  position: absolute;
  z-index: 1;
}

.text-secondary {
  color: #e83e8c !important;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.home-section {
  height: 100vh;
  position: relative;
}

.home-section::before {
  content: "";
  background-image: url("https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/photo/photo-1534850336045-c6c6d287f89e.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.find-a-desk-btn {
  opacity: 1;
  border-radius: 10rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #4e66f8;
  border-color: #4e66f8;
}

.find-a-desk-btn:hover {
  background-color: #4286f4;
  transition: 0.3s ease-in;
}

#search-location {
  height: calc(1.5em + 1rem + 2px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select-date-input {
  font-size: 1rem;
}

#coworking-text {
  color: #e83e8c !important;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
}

.one-of-a-kind-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #f8f9fa;
}

.booking-title {
  font-size: 2rem;
  font-weight: 800;
}

.map-sign,
.credit-card,
.heart {
  font-size: 70px;
  color: #4e66f8;
}

.vacation-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.like-a-local-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.like-a-local-text {
  margin-bottom: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4e66f8 !important;
  font-weight: bold;
}

.our-guides {
  font-size: 32px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.see-all-guides {
  font-size: 0.875rem;
}

.hurry-up-section {
  padding-top: 6rem;
}

.date-picker {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-span,
.date-span {
  color: #4e66f8;
}

.date-section,
.location-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.find-a-desk-search {
  display: none;
  opacity: 1;
  border-radius: 10rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #4e66f8;
  border-color: #4e66f8;
}

@media (max-width: 767px) {
  .find-your-space-title {
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 10);
    font-weight: 900 !important;
  }
  .location-span {
    display: none;
  }

  .find-a-desk-btn {
    display: none;
  }

  .find-a-desk-search {
    display: inline;
  }

  .btn-block + .btn-block {
    margin-top: 0rem !important;
  }
}

@media (max-width: 575px) {
  .btn-block + .btn-block {
    margin-top: 0.5rem !important;
  }
  .find-a-desk-search {
    width: 60%;
  }
  .search-form {
    padding: 20px;
  }
}

.search-form {
  border-radius: 10rem;
  background: #fff;
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
}

.cities {
  border-radius: 10rem;
  width: 300px;
}

.form-group {
  margin-bottom: 0ex;
}

.check-them-out {
  font-size: 32px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.3;
}
