<div class="row no-gutters">
  <div
    class="col-12 col-sm-6 col-md-4 col-lg-3"
    *ngFor="let location of locations; let i = index"
  >
    <a>
      <div
        class="card city-card city-img"
        (click)="redirectToCity(i)"
        [ngStyle]="{ backgroundImage: 'url(' + location?.image + ')' }"
      ></div>
      <div class="card-body overlay-content city-card-body">
        <h6 class="card-title text-shadow text-uppercase city-name">
          {{ location.name }}
        </h6>
      </div>
    </a>
  </div>
</div>
