<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p class="subtitle text-primary add-new">Add a new listing</p>
        <h1 class="h2 mb-5 get-started mt-2">Let's get started</h1>
        <p class="text-muted">
          Add a new room for people to book and enjoy their vacation!
        </p>
        <p class="text-muted mb-5">
          Just fill out the form on the next page and you're good to go!
        </p>
        <p class="mb-5 mb-lg-0">
          <a class="btn btn-primary step-one-btn" routerLink="/user/room/add"
            >Add your listing</a
          >
        </p>
      </div>
      <div class="col-lg-5 ml-auto d-flex align-items-center">
        <img
          class="img-fluid"
          src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/illustration/undraw_celebration_0jvk.svg"
          alt=""
          style="width: 400px"
        />
      </div>
    </div>
  </div>
</section>
