.add-new {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #4e66f8 !important;
  font-weight: 900;
}

.btn-primary {
  color: #fff;
  background-color: #4e66f8;
  border-color: #4e66f8;
}

.btn-primary:hover {
  background-color: #2844fc;
  transition: 0.3s ease-in-out all;
}

.btn-outline-muted {
  color: #868e96;
  border-color: #868e96;
}

.btn-outline-muted:hover {
  color: #fff;
  border-color: #868e96;
  background-color: #868e96;
  transition: 0.3s ease-in-out all;
}
