.user-review {
  margin-top: 20px;
  border-top: 20px solid rgba(235, 11, 11, 0);
}

.avatar {
  text-align: center;
  border: #dee2e6;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  position: relative;
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  line-height: 10rem;
  object-fit: cover;
}

.media {
  display: flex;
  flex-direction: column;
}

.room-card {
  margin-bottom: 30px;
}

.user-description {
  margin-bottom: 50px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;
}

.fas {
  font-size: 20px;
  color: #4e66f8;
}

.fas.fa-user-check {
  font-size: 15px;
}

.user-title {
  font-weight: 900;
  line-height: 1.3;
}

.user-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.user-joined {
  color: #e83e8c;
  background-color: #fce8f1;
  font-weight: bolder;
  line-height: 1.3;
}

.user-listings {
  font-weight: 900;

  line-height: 1.3;
}

.subtitle {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #4e66f8 !important;
  font-weight: bold;
}

.listing-reviews {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 900;
}

.fa-star {
  color: #4e66f8 !important;
}

.btn-primary {
  color: #fff;
  background-color: #4e66f8;
  border-color: #4e66f8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3751f8;
  border-color: #3751f8;
}

.btn-outline-primary {
  color: #4e66f8;
  border-color: #4e66f8;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4e66f8;
  border-color: #4e66f8;
}
