<section class="py-5 py-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p class="subtitle text-primary add-new">Add a new listing</p>
        <h1 class="h2 mb-5 get-started mt-2">Let's get started</h1>
        <p class="text-muted">
          His room, a proper human room although a little too small, lay
          peacefully between its four familiar walls. A collection of textile
          samples lay spread out on the table.
        </p>
        <p class="text-muted mb-5">
          Samsa was a travelling salesman - and above it there hung a picture
          that he had recently cut out of an illustrated magazine and housed in
          a nice, gilded frame.
        </p>
        <p class="mb-5 mb-lg-0">
          <a
            class="btn btn-primary step-one-btn"
            routerLink="/user/add-room-second-step"
            >Add your listing</a
          >
        </p>
      </div>
      <div class="col-lg-5 ml-auto d-flex align-items-center">
        <img
          class="img-fluid"
          src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/illustration/undraw_celebration_0jvk.svg"
          alt=""
          style="width: 400px"
        />
      </div>
    </div>
  </div>
</section>
