<form method="post" *ngIf="authService.isLoggedIn">
  <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
    <h2 class="h5 m-0">Add a review</h2>
    <app-room-review-stars
      #reviewStars
      (onStarsSelect)="onReviewStarHandle($event)"
    ></app-room-review-stars>
  </div>
  <textarea
    name="description"
    class="form-control border"
    placeholder="Add a review"
    rows="6"
    maxlength="1000"
    required=""
    (input)="decrementCharacters($event)"
    #reviewTextarea
  ></textarea>
  <div class="d-flex justify-content-between mt-3">
    <small class="font-weight-light"
      ><span id="charactersRemaining">{{ characters }}</span> characters
      remaining</small
    >
    <button
      type="submit"
      class="btn btn-primary animate-up-2 add-review-btn"
      (click)="postReview(reviewTextarea.value, $event)"
    >
      Add review
    </button>
  </div>
</form>
